<!DOCTYPE html>
<html lang="en">
  <title>Tiny App</title>
  <head>
      <% include ./partials/head %>

  </head>
  <body class="container">

      <header>
          <% include ./partials/_header %>
      </header>

      <main>
          <div>
              <h1>Tiny App</h1>
              <h3>List of Urls</h3>
          </div>
          <div>
              <table>
            <% Object.keys(urls).forEach((key) => {                 %>
                  <tr>
                    <td style="width:50%">
                        <%= key %> --> <a href="<%= urls[key] %>"><%= urls[key] %></a>
                    </td>
                    <td style="width:10%">
                        <form method="GET" action="/urls/<%= key%>">
                            <button type="submit" value="update" >Edit</button>
                        </form>
                    </td>
                    <td style="width:20%">
                        <form method="POST" action="/urls/<%= key %>/delete">
                            <input type="submit" value="Delete" >
                        </form>
                    </td>
                  </tr>
            <% });  %>
              </table>
                <form method="GET" action=" /urls/new ">
                    <div><button title="new url" >Add a New URL</button></div>
                </form>
          </div>
      </main>
      <footer>
          <% include ./partials/footer %>
      </footer>
      
  </body>
</html>