<!DOCTYPE html>
<html lang="en">
  <title>Tiny App</title>
  <head>
  </head>
  <body>
    <header><% include ./partials/_header %></header>
			<main>
				<div>
					<h1><%= title %></h1>
					<h3>List of Urls</h3>
				</div>
				<div>
					<table>
            <% if(urls){ %>
                <% urls.forEach((url) => {                 %>
							<tr>
								<td style="width:50%">
                        <%= url.shortURL %> --> 
									<a href="<%= url.longURL %>"><%= url.longURL %></a>
								</td>
                    <% if(email){   %>
								<td style="width:10%">
									<form method="GET" action="/urls/<%= url.shortURL%>">
											<button type="submit" value="update" >Update</button>
									</form>
                    </td>
                    <td style="width:20%">
                        <form method="POST" action="/urls/<%= url.shortURL %>/delete">
                            <input type="submit" value="Delete" >
                        </form>
                    </td>
                    <%  } %>
                  </tr>
                <% });  %>
            <% } %>
              </table>
                <form method="GET" action=" /urls/new ">
                    <div><button title="new url" >Add a New URL</button></div>
                </form>
          </div>
      </main>
      <footer>
          <% include ./partials/footer %>
      </footer>
      
  </body>
</html>